{% extends 'base/base.html' %}
{% block content %}
<a href="{% url 'post_create' %}">create new Post</a><br>
<ul>
    {% for post in posts %}
      <li>
        <a href="{% url 'post_detail' post.slug %}">
            {{ post }}
            {% if post.state != post.STATES.PUBLISHED %}
                [{{ post.state }}]
            {% endif %}
        </a>
      </li>
    {% endfor %}
</ul>
{% if page_obj.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}


<hr>
{% include 'base/components/column_months.html' with months=pub_months %}
{% include 'base/components/column_top_posts.html' with posts=top_posts %}
{% include 'base/components/column_authors.html' with authors=top_authors %}
{% include 'base/components/column_categories.html' with categories=top_categories %}
{% include 'base/components/column_tags.html' with tags=top_tags %}


{% endblock content %}